---

- name: DisplayLink
  block:


    - name: Ubuntu
      block:

        - name: Update apt cache
          apt:
            update_cache: yes
            cache_valid_time: 3600

        - name: Install prerequisite packages
          apt:
            name:
              - wget
              - dkms
              - linux-headers-generic
              - libdrm-dev
            state: present

# FIXME: if not already installed

        - name: Download synaptics repository keyring
          get_url:
            url: "{{ display_link_ubuntu_url }}"
            dest: "{{ tmpdir }}/synaptics-repository-keyring.deb"
            mode: '0644'

        - name: Install the downloaded .deb package
          apt:
            deb: "{{ tmpdir }}/synaptics-repository-keyring.deb"
            state: present

        - name: Update apt repositories
          apt:
            update_cache: yes

        - name: Install DisplayLink driver
          apt:
            name: "{{ display_link_package }}"
            state: present

        - name: Clean up downloaded .deb file
          file:
            path: "{{ tmpdir }}/synaptics-repository-keyring.deb"
            state: absent

        # - name: Load DisplayLink module (optional - may require reboot)
        #   shell: displaylink-installer install
        #   changed_when: false

# FIXME: mark for reboot if upgraded / installed / changed
        
        - name: Display completion message
          debug:
            msg: |
              DisplayLink installation complete!
              A system reboot may be required for the driver to work properly.

      when: ansible_distribution == 'Ubuntu'


  when: (want_display_link | d(false)) or (want_linux_display_link | d(false))

